<section>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card mb-4">
                <div class="card-header py-3">
                    <h5 class="mb-0">Angular material</h5>
                </div>
                <div class="card-body">
                    <asw-google-adsense
                        [adClient]="'ca-pub-7640562161899788'"
                        [adSlot]="2930227358" [width]="320" [height]="108" [className]="'swag'">
                    </asw-google-adsense>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card mb-4">
                <div class="card-header py-3">
                    <h5 class="mb-0">Bootstrap</h5>
                </div>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>
</section>